{% extends 'base.html.twig' %}

{% block title %}Cars{% endblock %}

{% block body %}
    <div class="products-content-container">
        <div class="products-banner" style="background-image: url('/../uploads/banner.jpg')">
            <div class="products-banner-label">
                <span class="rnd-text label-text linethrough">It's expensive</span>
                <br>
                <span class="rnd-text label-text noline">It's affordable</span>
            </div>
        </div>

        <button type="button" class="btn-filters">Filters</button>

        <div id="filter-modal" class="modal">
                <span class="modal-close">&times;</span>
        </div>

        <div class="products-content-main">
            <div class="products-columns">
                {% if cars is defined %}
                    {% for car in cars %}
                        <div class="product-row">
                            <div class="product name one">
                                {{ car.name }}
                            </div>
                            <div class="product model one">
                                {{ car.model }}
                            </div>
                            {% if car.imagePath %}
                                <img class="product-image" src="{{asset('../' ~ car.imagePath) }}" alt="{{ car.name }}" title="{{ car.name }}">
                            {% endif %}
                            <div class="product-redirect">
                                <a class="product-link link-one" href="{{ path('car_show', {id: car.id}) }}" data-url="{{ path('car_show', {id: car.id}) }}">Select</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="sidebar">
                <div class="filter-container absolute-left">
                    <form id="products-form" class="margin-top">
                        <div class="filter-options-item responsive-filters">
                            <dt class="filter-options-title">
                                <span class="title">vehicle type</span>
                                <button class="filter-expand" type="button">+</button>
                            </dt>
                            <div class="filter-options-content vehicle-type-content">
                                {% if types is defined %}
                                    {% for type in types %}
                                        <label class="container-checkbox">{{ type.nameType }}
                                            <input name="{{ type.nameType }}" type="checkbox" data-vehicle-type="{{ type.id }}"
                                                   class="option-check" id="{{ type.id }}" value="{{ type.id }}">
                                            <span class="checkmark"></span>
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="filter-options-item responsive-filters">
                            <dt class="filter-options-title">
                                <span class="title">brand</span>
                                <button class="filter-expand" type="button">+</button>
                            </dt>
                            <div class="filter-options-content brand-content">
                                {% if brands is defined %}
                                    {% for brand in brands %}
                                        <label class="container-checkbox">{{ brand.name }}
                                            <input name="{{ brand.name }}" type="checkbox" data-vehicle-brand="{{ brand.id }}"
                                                   class="option-check" id="{{ brand.id }}" value="{{ brand.id }}">
                                            <span class="checkmark"></span>
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <button type="submit" class="btn primary">Proceed</button>
                        <button type="button" class="btn secondary left" id="clear-filters-btn">Clear filters</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        let filter = () => {
            $('form').submit(function (event) {

                event.preventDefault();

                let vehicleType = $('input[type=checkbox][data-vehicle-type]:checked').map(function() { return $(this).val();}).get();
                let brand = $('input[type=checkbox][data-vehicle-brand]:checked').map(function() {
                    return $(this).val();
                }).get();


                $.ajax({
                    url: "{{ path('filter_api') }}?vehicleType=" + vehicleType + "&brand=" + brand,
                    dataType: 'json',
                    method: 'GET',
                    data: { vehicleType: vehicleType, brand: brand },

                    success: function (data) {
                        $(".products-columns").empty();

                        let ajaxResults = '';
                        data.forEach(function(car) {
                            let url = `{{ path('car_show', {'id': 'car.id'}) }}`.replace('car.id', car.id);

                            ajaxResults += '<div class="product-row">';
                            ajaxResults += '<div class="product name one">' + car.name + '</div>';
                            ajaxResults += '<div class="product model one">' + car.model + '</div>';
                            if (car.imagePath) {
                                let imagePath = car.imagePath;
                                ajaxResults += '<img class="product-image" id="car-image-' + car.id + '" src="' + imagePath + '" alt="' + car.name + '" title="' + car.name + '">';
                            }
                            ajaxResults += '<div class="product-redirect">';
                            ajaxResults += '<a class="product-link link-one" href="' + url + '">Select</a>';
                            ajaxResults += '</div>';
                            ajaxResults += '</div>';

                        })

                        $(".products-columns").append(ajaxResults);

                        // make it dynamically
                        let url = new URL(window.location.href);

                        url.searchParams.set('vehicleType', vehicleType);

                        if (!url.searchParams.get('vehicleType')) {
                            url.searchParams.delete('vehicleType');
                        }

                        if (brand.length > 0) {
                            url.searchParams.set('brand', brand);
                        }

                        window.history.pushState({}, null, url.toString());
                    },

                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    },
                });
            });
        }
        filter();

        let clearFilters = () => {
            $("#clear-filters-btn").click(function () {

                let vehicleType = $('select[name=vehicle_type]').val();
                let brand = $('select[name=brand]').val();

                $.ajax({
                    url: "{{ path('clear_filter') }}",
                    success: function () {
                        let url = new URL(window.location.href);

                        url.searchParams.delete('vehicleType', vehicleType);
                        url.searchParams.delete('brand', brand);

                        window.history.pushState({}, null, url.toString());

                        url.searchParams.set('clearFilter', true);
                        window.history.pushState({}, null, url.toString());
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                })
            })
        }
        clearFilters();

        let collapsibleFilters = () => {

            $('.filter-options-title').click(function () {

                let content = $(this).siblings('.filter-options-content');
                let btnExpand = $(this).find('.filter-expand');

                if (content.css('display') === 'none') {
                    content.css('display', 'block');
                    btnExpand.text('-');
                } else {
                    content.css('display', 'none');
                    btnExpand.text('+');
                }
            });
        }
        collapsibleFilters();



        let filterModal = document.getElementById('filter-modal');

        let sidebar = document.querySelector('.sidebar');

        let contentContainer = document.querySelector('.content-container');

        let btn = document.querySelector(".btn-filters");

        let btnProceed = document.querySelector('.btn.primary');

        let span = document.querySelector('.modal-close');

        let footer = document.querySelector('.rnd-footer');

        filterModal.append(sidebar);

        btn.onclick = function () {
            console.log("clicked");
            filterModal.style.display = "block";
            sidebar.style.display = "block";

            sidebar.style.position = "fixed";
            sidebar.style.backgroundColor = "#c0c0c0";
            sidebar.style.zIndex = 1;
            sidebar.style.width = "100%";
            sidebar.style.height = "100%";
            sidebar.style.filter = "drop-shadow(5px 5px 5px rgba(0,0,0,0.3)";
            sidebar.style.boxShadow = "3px 2px 2px 0 rgb(0 0 0 / 15%)";
            sidebar.style.backgroundColor = "white";
            sidebar.style.bottom = 0;

            span.style.color = "#aaaaaa";
            span.style.position = "absolute !important";
            span.style.display = "block";
            span.style.fontSize = "30px";
            span.zIndex = 3;
        }


        if (window.matchMedia('screen and (max-width: 768px)').matches) {
            btnProceed.onclick = function () {
                filterModal.style.display = "none";
            }
        }


        span.onclick = function () {
            filterModal.style.display = "none";
        }

        window.onclick = function (evt) {
            if (evt.target === sidebar) {
                sidebar.style.display = "none";
            }
        }

    </script>

{% endblock %}
