{% extends 'base.html.twig' %}

{% block title %}Cars{% endblock %}

{% block body %}
    <div class="content-container">
        <div class="products-banner" style="background-image: url('/../uploads/banner.jpg')">
            <div class="products-banner-label">
                <span class="rnd-text label-text linethrough">It's expensive</span>
                <br>
                <span class="rnd-text label-text noline">It's affordable</span>
            </div>
        </div>
        <div class="products-content-main">
            <div class="products-columns">
                {% if cars is defined %}
                    {% for car in cars %}
                        <div class="product-row">
                            <div class="product name one">
                                {{ car.name }}
                            </div>
                            <div class="product model one">
                                {{ car.model }}
                            </div>
                            {% if car.imagePath %}
                                <img class="product-image" src="{{asset('../' ~ car.imagePath) }}" alt="{{ car.name }}" title="{{ car.name }}">
                            {% endif %}
                            <div class="product-redirect">
                                <a class="product-link link-one" href="{{ path('car_show', {id: car.id}) }}" data-url="{{ path('car_show', {id: car.id}) }}">Select</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="sidebar">
                <div class="filter-container">
                    <form id="products-form">
                        <div class="filter-options-item">
                            <dt class="filter-options-title">
                                <span class="title">vehicle type</span>
                                <button class="filter-expand" type="button">+</button>
                            </dt>
                            <div class="filter-options-content vehicle-type-content">
                                {% if types is defined %}
                                    {% for type in types %}
                                        <label class="container-checkbox">{{ type.nameType }}
                                            <input name="{{ type.nameType }}" type="checkbox" data-vehicle-type="{{ type.id }}"
                                                   class="option-check" id="{{ type.id }}" value="{{ type.id }}">
                                            <span class="checkmark"></span>
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="filter-options-item">
                            <dt class="filter-options-title">
                                <span class="title">brand</span>
                                <button class="filter-expand" type="button">+</button>
                            </dt>
                            <div class="filter-options-content brand-content">
                                {% if brands is defined %}
                                    {% for brand in brands %}
                                        <label class="container-checkbox">{{ brand.name }}
                                            <input name="{{ brand.name }}" type="checkbox" data-vehicle-brand="{{ brand.id }}"
                                                   class="option-check" id="{{ brand.id }}" value="{{ brand.id }}">
                                            <span class="checkmark"></span>
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <button type="submit" class="btn primary">Proceed</button>
                        <button type="button" class="btn secondary" id="clear-filters-btn">Clear filters</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        let filter = () => {
            $('form').submit(function (event) {
                event.preventDefault();



                let vehicleType = $('input[type=checkbox][data-vehicle-type]:checked').map(function() { return $(this).val();}).get();
                let brand = $('input[type=checkbox][data-vehicle-brand]:checked').map(function() {
                    return $(this).val();
                }).get();


                $.ajax({
                    url: "{{ path('filter_api') }}?vehicleType=" + vehicleType + "&brand=" + brand,
                    dataType: 'json',
                    method: 'GET',
                    data: { vehicleType: vehicleType, brand: brand },

                    success: function (data) {
                        $(".products-columns").empty();

                        let ajaxResults = '';
                        data.forEach(function(car) {
                            let url = `{{ path('car_show', {'id': 'car.id'}) }}`.replace('car.id', car.id);

                            ajaxResults += '<div class="product-row">';
                            ajaxResults += '<div class="product name one">' + car.name + '</div>';
                            ajaxResults += '<div class="product model one">' + car.model + '</div>';
                            if (car.imagePath) {
                                let imagePath = car.imagePath;
                                ajaxResults += '<img class="product-image" id="car-image-' + car.id + '" src="' + imagePath + '" alt="' + car.name + '" title="' + car.name + '">';
                            }
                            ajaxResults += '<div class="product-redirect">';
                            ajaxResults += '<a class="product-link link-one" href="' + url + '">Select</a>';
                            ajaxResults += '</div>';
                            ajaxResults += '</div>';

                        })

                        $(".products-columns").append(ajaxResults);

                        // make it dynamically
                        let url = new URL(window.location.href);

                        url.searchParams.set('vehicleType', vehicleType);

                        if (!url.searchParams.get('vehicleType')) {
                            url.searchParams.delete('vehicleType');
                        }

                        if (brand.length > 0) {
                            url.searchParams.set('brand', brand);
                        }

                        window.history.pushState({}, null, url.toString());
                    },

                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    },
                });
            });
        }
        filter();

        let clearFilters = () => {
            $("#clear-filters-btn").click(function () {

                let vehicleType = $('select[name=vehicle_type]').val();
                let brand = $('select[name=brand]').val();

                $.ajax({
                    url: "{{ path('clear_filter') }}",
                    success: function () {
                        let url = new URL(window.location.href);

                        url.searchParams.delete('vehicleType', vehicleType);
                        url.searchParams.delete('brand', brand);

                        window.history.pushState({}, null, url.toString());

                        url.searchParams.set('clearFilter', true);
                        window.history.pushState({}, null, url.toString());
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                })
            })
        }
        clearFilters();

        let collapsibleFilters = () => {

            $('.filter-options-title').click(function () {

                let content = $(this).siblings('.filter-options-content');
                let btnExpand = $(this).find('.filter-expand');

                if (content.css('display') === 'none') {
                    content.css('display', 'block');
                    btnExpand.text('-');
                } else {
                    content.css('display', 'none');
                    btnExpand.text('+');
                }
            });
        }
        collapsibleFilters();

    </script>

{% endblock %}
