{% extends 'base.html.twig' %}

{% block title %}Cars{% endblock %}

{% block body %}
    <div class="products-content-container">
        <div class="products-banner" style="background-image: url('/../uploads/banner.jpg')">
            <div class="products-banner-label">
                <span class="rnd-text label-text linethrough">It's expensive</span>
                <br>
                <span class="rnd-text label-text noline">It's affordable</span>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="success-box">
                <span class="success-alert">{{ message }}</span>
            </div>
        {% endfor %}

        <div class="container my-md-4">
            <div class="d-flex justify-content-between">
                <form id="searchForm" action="{{ path('app_search') }}" method="GET">
                    <input type="search" name="q" id="searchQuery" placeholder="Search...">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        <button type="button" class="btn-filters">Filters</button>

        <div id="filter-modal" class="modal">
            <span class="modal-close">&times;</span>
        </div>

        <div class="products-content-main">
            <div class="products-columns">
                {% if cars is defined %}
                    {% for car in cars %}
                        <div class="product-row">
                            <div class="product name one">
                                {{ car.name }}
                            </div>
                            <div class="product model one">
                                {{ car.model }}
                            </div>
                            <div class="image-row">
                                {% if car.imagePath %}
                                    <a href="{{ path('car_show', {id: car.id}) }}" data-url="{{ path('car_show', {id: car.id}) }}"><img class="product-image" src="{{asset('../' ~ car.imagePath) }}" alt="{{ car.name }}" title="{{ car.name }}"></a>
                                    <span class="status">{{ car.getFeature.availabilityStatus }}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
            <div class="sidebar">
                <div class="filter-container absolute-left">
                    <form id="products-form" class="margin-top">
                        <div class="filter-options-item responsive-filters">
                            <dt class="filter-options-title">
                                <span class="title">vehicle type</span>
                                <button class="filter-expand" type="button">+</button>
                            </dt>
                            <div class="filter-options-content vehicle-type-content">
                                {% if types is defined %}
                                    {% for type in types %}
                                        <label class="container-checkbox">{{ type.nameType }}
                                            <input name="{{ type.nameType }}" type="checkbox" data-vehicle-type="{{ type.id }}"
                                                   class="option-check" id="{{ type.id }}" value="{{ type.id }}">
                                            <span class="checkmark"></span>
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="filter-options-item responsive-filters">
                            <dt class="filter-options-title">
                                <span class="title">brand</span>
                                <button class="filter-expand" type="button">+</button>
                            </dt>
                            <div class="filter-options-content brand-content">
                                {% if brands is defined %}
                                    {% for brand in brands %}
                                        <label class="container-checkbox">{{ brand.name }}
                                            <input name="{{ brand.name }}" type="checkbox" data-vehicle-brand="{{ brand.id }}"
                                                   class="option-check" id="{{ brand.id }}" value="{{ brand.id }}">
                                            <span class="checkmark"></span>
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="filter-btns">
                            <button type="submit" class="btn primary">Proceed</button>
                            <button type="button" class="btn secondary left" id="clear-filters-btn">Clear filters</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/filter.mjs" type="module"></script>
    <script src="../assets/success.js"></script>
    <script src="../assets/search.mjs" type="module"></script>

{% endblock %}


