{% extends 'base.html.twig' %}

{% block title %}Show{% endblock %}

{% block body %}


    <div class="products-content-container ">
        <div class="products-content-main product-page">
            {% if app.flashes('warning') is defined %}
                {% for warning in app.flashes('warning') %}
                    <div class="warning-box">
                        <span class="warning-alert">{{ warning }}</span>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="product-row product-show">
                <div class="product name one">
                    {{ carInfo.name }}
                </div>
            </div>
            <div class="product-row product-show">
                <div class="product model one">
                    {{ carInfo.model }}
                </div>
            </div>
            <div class="image-row">
                {% if carInfo.imagePath %}
                    <img class="product-image show" src="{{asset('../' ~ carInfo.imagePath) }}" alt="{{ carInfo.name }}" title="{{ carInfo.name }}">
                {% endif %}
            </div>
            <span class="package-title">Choose KM package</span>
            <span class="package-notice">Please choose one</span>
            <form method="get" action="{{ path('app_car_booking', {'id': carInfo.id}) }}">
                <div class="product-packages">
                    {% for package in packages %}
                        <div class="products-radio-item">
                            <label class="package-label" for="{{ package.name }}">{{ package.name }}</label>
                            <input type="radio" id="{{ package.id }}" class="package" name="package" value="{{ package.id }}">

                            <small>
                                <span class="package-price">€{{ package.price|number_format(2, '.', ',') }} | </span>
                                <span class="package-km">{{ package.distance}} km </span>
                                <span class="package-short">per month</span>
                            </small>
                            <br>
                            <small><span class="package-info">Select number of months:</span> <input type="number" class="form-input" name="months[]" min="1" max="6"></small>
                        </div>
                    {% endfor %}
                    <div class="btn-wrapper btn-responsive-submit">
                        <button type="submit" class="btn-package-proceed btn-proceed">Proceed</button>
                    </div>
                </div>
            </form>

            <form method="post" action="{{ path('add_to_wishlist', {'id': carInfo.id}) }}">
                <div class="btn-wrapper btn-responsive-wishlist">
                    <input type="submit" class="btn-package-proceed" value="Add to wishlist">
                </div>
            </form>

            <div class="product-details-title">
                <span class="rnd-text-span-second bottom-out">Car details</span>
            </div>

            <div class="product-details">
                <div class="product product-details-row">
                    <div class="product-details-column">
                        <div class="product-details-data">
                            <p class="product-details-info">Availability</p>
                            <span class="product-details-description">{{ carInfo.getFeature.getAvailabilityDescription }}</span>
                        </div>
                    </div>
                    <div class="product-details-column">
                        <div class="product-details-data">
                            <p class="product-details-info">Performance</p>
                            <span class="product-details-description">{{ carInfo.getFeature.getPerformance }}</span>
                        </div>
                    </div>
                    <div class="product-details-column">
                        <div class="product-details-data">
                            <p class="product-details-info">Fuel</p>
                            <span class="product-details-description">{{ carInfo.getFeature.getFuel }}</span>
                        </div>
                    </div>
                    <div class="product-details-column">
                        <div class="product-details-data">
                            <p class="product-details-info">Transmission</p>
                            <span class="product-details-description">{{ carInfo.getFeature.getTransmission }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <script src="../assets/warning.js"></script>

{% endblock %}
